body {
    background-color: rgb(248, 243, 229);
}
label, p {
    color: rgb(85, 82, 82);
    align-content: center;
    font-weight: bold;
  
}
button {
    appearance: none;
  border: 0;
  border-radius: 5px;
  background: #3f372a;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  }
  
  button:hover {
    background: #801d16;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgb(139, 105, 105);
  }